@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Chau+Philomene+One:ital@0;1&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root{
    --color1:#F21D2F;
    --color2:#023859;
    --color3:#F2B807;
    --color4:#F2D06B;
    --color5:#F2F2F2;
}


.sep{
    height: 120px; ;
}

.sep2{
    height: 50px; ;
}

.Menu{
    /* definindo a altura e cor */
    height: 120px;
    width: 100%;
    background-color: var(--color2) ;

    /* display do menu */
    display: flex;
    align-items: center;

    /* posição do menu */
    position:fixed;
}

.mini_menu{
    /* border: 2px solid black; */
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.menu_esq{
    /* border: 1px solid rebeccapurple; */
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}

.menu_dir{
    /* border: 1px solid red; */
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
}



.menu_icone_prefeitura{
    /* border: 1px solid black; */
    background-image: url(../css/img/logo_prefeitura.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:90% ;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: start;
    align-items: center;
}   

.menu_icone_eptran{
    
    margin-right: 4%;
    /* border: 1px solid black; */
    background-image: url(../css/img/logo_eptran.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height:90% ;
    width: 90%;
    display: flex;
    justify-content: end;
    align-items: center;
}


.menu_inicio{
    /* border: 1px solid black; */
    height: 60px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.botao2{
    display: flex;
    flex-flow: row ;
    padding: 13px 22px 13px 20px;
    border-radius:6% / 20%;
    background-color: var(--color5);
    font-size: 22px;
    color: black;
    justify-content: center;
    gap: 12%;
    width: 210px;
}

.botao2 a {
    color: black;
    text-decoration: none;
}

.botao1{
    display: flex;
    flex-flow: row ;
    padding: 13px 22px 13px 20px;
    border-radius:6% / 20%;
    background-color: var(--color5);
    font-size: 22px;
    color: black;
    justify-content: center;
    gap: 12%;
    width: 160px;
}

.botao1 a {
    color: black;
    text-decoration: none;
}


.botao{
    padding: 13px 22px 13px 20px;
    border-radius:6% / 20%;
    background-color: var(--color5);
    font-size: 22px;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    gap: 8%;
    width: 120%;
    text-align: center;
}



.Menuzinho{
    width: 100%;
    height: 50px;
    background-color: var(--color3);
    display: flex;
    align-items: center;
    gap: 1%;
}

.m_menu{
    font-size: 300%;
    color: black;
    margin-left: 1%;
}



.titulo_menuz{
    /* border: 1px  solid black; */
    width: 100%;
}

.titulo_menuz .titulo_secundario_menuz{
    display: none;
}

.titulo_menuz > *{
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 110%;
}



@media (max-width: 1300px){

    .mini_menu{
        width: 50%;
    }

    .menu_esq{
        width: 25%;
    }

    .menu_dir{
        width: 25%;

    }

    .menu_jogos{
        display: none;
    }

    .menu_videos{
        display: none;
    }



}

@media (max-width: 1000px){
    .menu_contatos{
        display: none;
    }

    .mini_menu{
        width: 30%;
    }

    .menu_esq{
        width: 35%;
    }

    .menu_dir{
        width: 35%;

    }

    
    .menu_inicio > a p{
        display: none;
    }

    .menu_inicio > a i{
        font-size: 150%;
        text-align: center;

    }

    .botao{
        padding: 10Px 35PX;
        border-radius: 15% / 25%;
        text-align: center;
    }

    .Menuzinho{
        gap: 2%;
    }
}


@media (max-width: 700px){

    .menu_inicio{
        display: none;
    }

    .mini_menu{
        width: 10%;
    }

    .menu_esq{
        width: 45%;
    }

    .menu_dir{
        width: 45%;

    }

    .titulo_menuz .titulo_principal_menuz{
        display: none;
    }

    .titulo_menuz .titulo_secundario_menuz{
        display:block;
        font-size: 150%;
        text-align: center;
    }

    .titulo_menuz{
       width: 84%;
    }

    .barra_menuz{
        /* border: 1px  solid black; */
        width: 8%;
    }

    .Menuzinho{
        gap:0;
    }
}
